* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;

    background: #08090d;

    font-family:
        Arial,
        Helvetica,
        sans-serif;

    color: white;
}


/* =========================
   CANVAS
========================= */

#gameCanvas {

    position: fixed;

    left: 0;
    top: 0;

    width: 100vw;
    height: 100vh;

    display: none;

    background: #202b21;
}


/* =========================
   MENU
========================= */

#menu {

    position: fixed;

    inset: 0;

    z-index: 100;

    display: flex;

    flex-direction: column;

    align-items: center;

    justify-content: center;

    text-align: center;

    background:

        radial-gradient(
            circle at 30% 30%,
            rgba(255, 70, 120, .25),
            transparent 35%
        ),

        radial-gradient(
            circle at 70% 70%,
            rgba(0, 200, 255, .20),
            transparent 35%
        ),

        linear-gradient(
            135deg,
            #08090d,
            #11131b
        );
}


.logo {

    font-size: clamp(70px, 12vw, 150px);

    font-weight: 1000;

    letter-spacing: -7px;

    line-height: .8;

    color: white;

    text-shadow:

        5px 5px 0 #ff3366,

        10px 10px 0 rgba(0,0,0,.6);

}


.logo span {

    display: block;

    color: #ff3366;

    font-size: .55em;

    letter-spacing: 8px;

    text-shadow:

        3px 3px 0 #151515;
}


.subtitle {

    margin-top: 25px;

    letter-spacing: 8px;

    color: #aaa;

    font-size: 14px;
}


#menu button {

    width: 300px;

    max-width: 85vw;

    padding: 17px;

    margin-top: 20px;

    border: 0;

    border-radius: 5px;

    font-weight: 900;

    letter-spacing: 1px;

    cursor: pointer;

    background: white;

    color: #111;

    transition: .2s;
}


#menu button:hover {

    transform:
        translateY(-3px)
        scale(1.03);

    background: #ff3366;

    color: white;

    box-shadow:
        0 10px 40px
        rgba(255,51,102,.35);
}


#continueGame {

    background: #242832 !important;

    color: white !important;
}


.controls {

    margin-top: 35px;

    color: #888;

    font-size: 12px;

    line-height: 1.9;
}


.controls b {

    color: white;
}


/* =========================
   HUD
========================= */

#hud {

    display: none;

    position: fixed;

    inset: 0;

    z-index: 10;

    pointer-events: none;
}


.hud-left {

    position: absolute;

    left: 25px;
    top: 25px;
}


.player-card {

    display: flex;

    align-items: center;

    gap: 10px;
}


.avatar {

    width: 42px;
    height: 42px;

    display: flex;

    align-items: center;
    justify-content: center;

    border-radius: 50%;

    background: #ff3366;

    font-weight: bold;
}


.player-card strong {

    display: block;

    font-size: 10px;

    color: #aaa;
}


.player-card span {

    display: block;

    font-size: 14px;

    font-weight: bold;
}


.money {

    margin-top: 15px;

    color: #72ff9b;

    font-size: 20px;

    font-weight: bold;

    text-shadow:
        0 2px 8px #000;
}


/* =========================
   DIREITA
========================= */

.hud-right {

    position: absolute;

    right: 25px;
    top: 25px;

    text-align: right;
}


.wanted {

    font-size: 10px;

    color: #ddd;
}


#stars {

    color: #fff;

    font-size: 22px;

    letter-spacing: 3px;

    text-shadow:
        0 2px 5px black;
}


.clock {

    margin-top: 10px;

    font-size: 16px;

    font-weight: bold;
}


/* =========================
   MISSÃO
========================= */

#missionBox {

    position: absolute;

    left: 25px;

    bottom: 35px;

    width: 310px;

    padding: 15px;

    background:
        rgba(5, 6, 10, .80);

    border-left:
        4px solid #ff3366;

    backdrop-filter:
        blur(8px);
}


.mission-label {

    color: #ff3366;

    font-size: 10px;

    font-weight: bold;

    letter-spacing: 2px;
}


#missionTitle {

    margin-top: 5px;

    font-weight: bold;

    font-size: 16px;
}


#missionDescription {

    margin-top: 5px;

    color: #aaa;

    font-size: 12px;

    line-height: 1.5;
}


/* =========================
   VEÍCULO
========================= */

#vehicleHUD {

    display: none;

    position: absolute;

    right: 30px;

    bottom: 35px;

    width: 220px;

    padding: 15px;

    background:
        rgba(5,6,10,.8);

    border-right:
        4px solid #00d9ff;
}


.vehicle-name {

    color: #aaa;

    font-size: 10px;

    letter-spacing: 2px;
}


.speed {

    font-size: 48px;

    font-weight: 900;

    line-height: 1;
}


.speed small {

    font-size: 10px;

    color: #aaa;
}


.fuel-container {

    margin-top: 10px;

    font-size: 9px;

    color: #aaa;
}


.fuel-bar {

    width: 100%;

    height: 5px;

    margin-top: 5px;

    background: #333;

}


#fuel {

    width: 100%;

    height: 100%;

    background: #4cff7a;
}


/* =========================
   MAPA
========================= */

#minimap {

    position: absolute;

    right: 25px;

    bottom: 25px;

    width: 190px;

    height: 190px;

    padding: 5px;

    border-radius: 50%;

    overflow: hidden;

    border:
        3px solid
        rgba(255,255,255,.7);

    background: #15191c;

    box-shadow:
        0 5px 30px
        rgba(0,0,0,.6);
}


#mapCanvas {

    width: 100%;
    height: 100%;
}


.map-player {

    position: absolute;

    left: 50%;
    top: 50%;

    transform:
        translate(-50%,-50%);

    color: #ff3366;

    font-size: 20px;

    text-shadow:
        0 0 5px white;
}


/* =========================
   NOTIFICAÇÕES
========================= */

#notifications {

    position: absolute;

    top: 25%;

    left: 50%;

    transform:
        translateX(-50%);

    display: flex;

    flex-direction: column;

    gap: 8px;

    align-items: center;
}


.notification {

    padding: 12px 20px;

    background:
        rgba(0,0,0,.85);

    border-bottom:
        2px solid #ff3366;

    animation:
        notificationIn .25s ease;
}


@keyframes notificationIn {

    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* =========================
   PAUSA
========================= */

#pause {

    display: none;

    position: fixed;

    inset: 0;

    z-index: 200;

    align-items: center;

    justify-content: center;

    background:
        rgba(0,0,0,.75);

    backdrop-filter:
        blur(10px);
}


.pause-box {

    width: 400px;

    max-width: 90vw;

    padding: 40px;

    text-align: center;

    background: #101218;

    border:
        1px solid #333;
}


.pause-box h1 {

    margin-bottom: 25px;

    font-size: 40px;
}


.pause-box button {

    width: 100%;

    padding: 14px;

    margin: 5px;

    border: 0;

    cursor: pointer;

    background: #252a35;

    color: white;

    font-weight: bold;
}


.pause-box button:hover {

    background: #ff3366;
}


/* =========================
   CELULAR
========================= */

@media (max-width: 700px) {

    #missionBox {

        width: 250px;

        bottom: 20px;
        left: 15px;
    }

    #minimap {

        width: 140px;
        height: 140px;

        right: 10px;
        bottom: 10px;
    }

    #vehicleHUD {

        right: 10px;
        bottom: 165px;

        width: 160px;
    }

    .speed {

        font-size: 35px;
    }

}